<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset You Password | Plants Analysis</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />

    <link rel="stylesheet" type="text/css" href="/public/css/reset/util.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/reset/main.css" />
  </head>

  <body>
    <div
      class="container-login100"
      style="background-image: url('/public/images/bg-reset.jpg');"
    >
      <div class="wrap-login100 p-l-55 p-r-55 p-t-40 p-b-30">
        <form class="login100-form validate-form" method="POST">
          <span class="login100-form-title p-b-37">
            <i class="fas fa-hand" aria-hidden="true"></i><br />
            Hath Milao
            <hr />
            <h6>Enter Your New Password</h6>
          </span>
          <div
            class="wrap-input100 validate-input m-b-20"
            data-validate="Password must be at least 6 characters long!"
          >
            <input
              class="input100"
              type="password"
              name="pass"
              id="pass"
              placeholder="Enter New Password"
            />
            <span class="focus-input100"></span>
          </div>
          <div
            class="wrap-input100 validate-input m-b-25"
            data-validate="Password Mismatch!"
          >
            <input
              class="input100"
              type="password"
              name="confirm-pass"
              placeholder="Confirm New Password"
            />
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Reset Your Password
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/public/js/reset/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/public/js/reset/main.js"></script>
  </body>
</html>
